.dots {
    position: relative;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.dots:before,
.dots:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
}

.dots:before {
    top: 20px;
}


.dots:after {
    top: 40px;
}

.dot-container{
    height: 65px;
}